projekt_tjee-war/src/conf/xml-resources/web-service-references/DataAccessSOAP/wsdl/localhost_8080/DataAccessSOAP/DataAccessSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.projekt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.projekt/" name="DataAccessSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.projekt/" schemaLocation="http://localhost:8080/DataAccessSOAP/DataAccessSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="getFilmName">
<part name="parameters" element="tns:getFilmName"/>
</message>
<message name="getFilmNameResponse">
<part name="parameters" element="tns:getFilmNameResponse"/>
</message>
<message name="showFilmList">
<part name="parameters" element="tns:showFilmList"/>
</message>
<message name="showFilmListResponse">
<part name="parameters" element="tns:showFilmListResponse"/>
</message>
<message name="addFilm">
<part name="parameters" element="tns:addFilm"/>
</message>
<message name="addFilmResponse">
<part name="parameters" element="tns:addFilmResponse"/>
</message>
<message name="deleteFilm">
<part name="parameters" element="tns:deleteFilm"/>
</message>
<message name="deleteFilmResponse">
<part name="parameters" element="tns:deleteFilmResponse"/>
</message>
<message name="getFilmData">
<part name="parameters" element="tns:getFilmData"/>
</message>
<message name="getFilmDataResponse">
<part name="parameters" element="tns:getFilmDataResponse"/>
</message>
<portType name="DataAccessSOAP">
<operation name="getFilmName">
<input wsam:Action="http://ws.projekt/DataAccessSOAP/getFilmNameRequest" message="tns:getFilmName"/>
<output wsam:Action="http://ws.projekt/DataAccessSOAP/getFilmNameResponse" message="tns:getFilmNameResponse"/>
</operation>
<operation name="showFilmList">
<input wsam:Action="http://ws.projekt/DataAccessSOAP/showFilmListRequest" message="tns:showFilmList"/>
<output wsam:Action="http://ws.projekt/DataAccessSOAP/showFilmListResponse" message="tns:showFilmListResponse"/>
</operation>
<operation name="addFilm">
<input wsam:Action="http://ws.projekt/DataAccessSOAP/addFilmRequest" message="tns:addFilm"/>
<output wsam:Action="http://ws.projekt/DataAccessSOAP/addFilmResponse" message="tns:addFilmResponse"/>
</operation>
<operation name="deleteFilm">
<input wsam:Action="http://ws.projekt/DataAccessSOAP/deleteFilmRequest" message="tns:deleteFilm"/>
<output wsam:Action="http://ws.projekt/DataAccessSOAP/deleteFilmResponse" message="tns:deleteFilmResponse"/>
</operation>
<operation name="getFilmData">
<input wsam:Action="http://ws.projekt/DataAccessSOAP/getFilmDataRequest" message="tns:getFilmData"/>
<output wsam:Action="http://ws.projekt/DataAccessSOAP/getFilmDataResponse" message="tns:getFilmDataResponse"/>
</operation>
</portType>
<binding name="DataAccessSOAPPortBinding" type="tns:DataAccessSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFilmName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showFilmList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFilm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFilmData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DataAccessSOAP">
<port name="DataAccessSOAPPort" binding="tns:DataAccessSOAPPortBinding">
<soap:address location="http://localhost:8080/DataAccessSOAP/DataAccessSOAP"/>
</port>
</service>
</definitions>